<div ng-include='"templates/header.html"'></div>

<div ng-controller="connectionCtrl" ng-init="getAllData()">
	<div class="panel panel-default container col-md-10 col-md-offset-1">
		<div class="row" style="padding-top: 10px;">
			<div class="col-xs-11">
				<!--<div class="row">-->
					<div class="col-xs-11 col-xs-offset-1">
						<div class="panel panel-success" style="padding: 0;">
							<div class="panel-heading">
								<h4>Connected in your network:</h4>
							</div>
						</div>						
					</div>
				<!--</div>-->
				<!--<div class="row">-->
					<div class="col-xs-11 col-xs-offset-1">
						<div class="panel panel-default" style="padding: 0;">
							<div class="panel-body">
								<div ng-repeat="data in connecttedList">
									<div class="col-xs-2">
									<img alt="Profile Picture" src="photos/profile/{{data.photoname}}" height="50" width="50">
									</div>
									<div class="col-xs-10"><!-- col-xs-pull-3 -->
										<h4 class="text-primary">{{data.fullname}}</h4>
										<div class="row">
											<div class="col-xs-6" style="margin-top: -15px;">
												<h5>&nbsp;&nbsp;&nbsp;&nbsp;{{data.username}}</h5>
											</div>
											<button type="button" class="btn btn-success" ng-click="disconnect(data.pk_user)" data-toggle="tooltip" title="To disconnect">Connected</button>
										</div>	
									</div>
									</br>
									</br>
									</br>
									</br>
								</div>
							</div>
							<div class="panel-footer text-center"></div>
						</div>
					</div>
				<!--</div>-->

				<!--<div class="row">-->
					<div class="col-xs-11 col-xs-offset-1">
						<div class="panel panel-info" style="padding: 0;">
							<div class="panel-heading">
								<h4>Potentially interested in:</h4>
							</div>
						</div>						
					</div>
				<!--</div>-->

				<!--<div class="row">-->
					<div class="col-xs-11 col-xs-offset-1">
						<div class="panel panel-default" style="padding: 0;">
							<div class="panel-body">
								<div ng-repeat="data in unconnecttedList">
									<div class="col-xs-2">
									<img alt="Profile Picture" src="photos/profile/{{data.photoname}}" height="50" width="50">
									</div>
									<div class="col-xs-10"><!-- col-xs-pull-3 -->
										<h4 class="text-primary">{{data.fullname}}</h4>
										<div class="row">
											<div class="col-xs-6" style="margin-top: -15px;">
												<h5>&nbsp;&nbsp;&nbsp;&nbsp;{{data.username}}</h5>
											</div>
											<button type="button" class="btn btn-primary" ng-click="connect(data.pk_user)" data-toggle="tooltip" title="To connect"">Connect</button>
										</div>	
									</div>
									</br>
									</br>
									</br>
									</br>
								</div>
							</div>
							<div class="panel-footer text-center"></div>
						</div>
					</div>
				<!--</div>-->


			</div>
			<!--<div class="col-xs-2">
				<div class="panel panel-default">
					<div class="panel-heading"><strong>TheLinkedIn</strong></div>
					<div class="panel-body">The basic functionality of TheLinkedIn allows users (workers and employers) to create profiles and "connections" to each other in an online social network which may represent real-world professional relationships. Users can invite anyone (whether a site user or not) to become a connection.</div>
				</div>
			</div>-->

		</div>
	</div>
</div>