

<div ng-include='"templates/header.html"'></div>

<div ng-controller="homeCtrl" ng-init="getAllData()">

    <img src='../images/streetPeople.jpeg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
    <br />
    <br />
    <br />
    <div style="width: 80%; padding-top: 60px;">

    </div>

    <div class="panel panel-default container col-md-4 col-md-offset-2">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    <img alt="Profile Picture" src="photos/profile/{{UserSummary.photoname}}"
                         height="200" width="200">
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-8 col-xs-push-7">
                            <h3>{{UserSummary.fullname}}</h3>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 15%;">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                            </div>
                            <div class="col-xs-6 col-xs-push-4">
                                <h4>Leader of the Wack Pack</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <h4>

                                </h4>
                            </div>
                            <div class="col-xs-6 col-xs-pull-2">
                                <h4></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-xs-pull-6">

                            <div class="row">
                                <div class="col-xs-12">
                                    <h4></h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--    <div class="panel-footer text-center">
                <div>
                    <button class="btn btn-primary" ng-click="modifyProfile()">
                        Edit Profile</button>
                </div>
            </div>-->
    </div>
</div>